body{
    background-color: rgb(124, 104, 104);
}

.content{
    background-color: rgb(255, 255, 255);
    font-family:   Arial,sans-serif;
    border:5px solid rgb(218, 15, 15);
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;


}
.imagen{
    max-width: 80%;
    
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
a{
    text-decoration:none;
    font-size: 20px;
}
a:link{
    color:rgb(112, 179, 5)
}
a:visited{
    color:rgb(58, 4, 4);
}